Week-1/Day-1/*.exe
Week-1/Day-1/*.txt

Week-1/Day-2/*.exe
Week-1/Day-2/*.txt

Week-1/Day-3/*.exe
Week-1/Day-3/*.txt

Week-1/Day-4/*.exe
Week-1/Day-4/*.txt

Week-1/Day-5/*.exe
Week-1/Day-5/*.txt

Week-1/Day-6/*.exe
Week-1/Day-6/*.txt

Week-1/Day-7/*.exe
Week-1/Day-7/*.txt

Week-2/Day-1/*.exe
Week-2/Day-1/*.txt

Week-2/Day-2/*.txt
Week-2/Day-2/*.exe

Week-2/Day-3/*.txt
Week-2/Day-3/*.exe

Week-2/Day-4/*.txt
Week-2/Day-4/*.exe

Week-2/Day-5/*.txt
Week-2/Day-5/*.exe

Week-2/Day-6/*.txt
Week-2/Day-6/*.exe

Week-2/Day-7/*.txt
Week-2/Day-7/*.exe


Week-3/Day-1/*.txt
Week-3/Day-1/*.exe

Week-3/Day-2/*.txt
Week-3/Day-2/*.exe

Week-3/Day-3/*.txt
Week-3/Day-3/*.exe

Week-3/Day-4/*.txt
Week-3/Day-4/*.exe

Week-3/Day-5/*.txt
Week-3/Day-5/*.exe

Week-3/Day-6/*.txt
Week-3/Day-6/*.exe

Week-3/Day-7/*.txt
Week-3/Day-7/*.exe

Week-4/Day-1/*.txt
Week-4/Day-1/*.exe

Week-4/Day-2/*.txt
Week-4/Day-2/*.exe

Week-4/Day-3/*.txt
Week-4/Day-3/*.exe

Week-4/Day-4/*.txt
Week-4/Day-4/*.exe

Week-4/Day-5/*.txt
Week-4/Day-5/*.exe

Week-4/Day-6/*.txt
Week-4/Day-6/*.exe

Week-4/Day-7/*.txt
Week-4/Day-7/*.exe

Week-5/Day-1/*.txt
Week-5/Day-1/*.exe

Week-5/Day-2/*.txt
Week-5/Day-2/*.exe

Week-5/Day-3/*.txt
Week-5/Day-3/*.exe

Week-5/Day-4/*.txt
Week-5/Day-4/*.exe

Week-5/Day-5/*.txt
Week-5/Day-5/*.exe

Week-5/Day-6/*.txt
Week-5/Day-6/*.exe

Week-5/Day-7/*.txt
Week-5/Day-7/*.exe

Week-6/Day-1/*.txt
Week-6/Day-1/*.exe

Week-6/Day-2/*.txt
Week-6/Day-2/*.exe

Week-6/Day-3/*.txt
Week-6/Day-3/*.exe

Week-6/Day-4/*.txt
Week-6/Day-4/*.exe

Week-6/Day-5/*.txt
Week-6/Day-5/*.exe

Week-6/Day-6/*.txt
Week-6/Day-6/*.exe

Week-6/Day-7/*.txt
Week-6/Day-7/*.exe

Week-7/Day-1/*.txt
Week-7/Day-1/*.exe

Week-7/Day-2/*.txt
Week-7/Day-2/*.exe

Week-7/Day-3/*.txt
Week-7/Day-3/*.exe

Week-7/Day-4/*.txt
Week-7/Day-4/*.exe

Week-7/Day-5/*.txt
Week-7/Day-5/*.exe

Week-7/Day-6/*.txt
Week-7/Day-6/*.exe

Week-7/Day-7/*.txt
Week-7/Day-7/*.exe

Week-8/Day-1/*.txt
Week-8/Day-1/*.exe

Week-8/Day-2/*.txt
Week-8/Day-2/*.exe

Week-8/Day-3/*.txt
Week-8/Day-3/*.exe

Week-8/Day-4/*.txt
Week-8/Day-4/*.exe

Week-8/Day-5/*.txt
Week-8/Day-5/*.exe

Week-8/Day-6/*.txt
Week-8/Day-6/*.exe

Week-8/Day-7/*.txt
Week-8/Day-7/*.exe

Week-9/Day-1/*.txt
Week-9/Day-1/*.exe

Week-9/Day-2/*.txt
Week-9/Day-2/*.exe

Week-9/Day-3/*.txt
Week-9/Day-3/*.exe

Week-9/Day-4/*.txt
Week-9/Day-4/*.exe

Week-9/Day-5/*.txt
Week-9/Day-5/*.exe

Week-9/Day-6/*.txt
Week-9/Day-6/*.exe

Week-9/Day-7/*.txt
Week-9/Day-7/*.exe

